<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/cadastro.css">
    
    
    <title>Portal-intranet</title>
   
</head>
<body>
    <section class="area-login" >
        <div class="login">
            
            <div><h1>Cadastro de Usuários</h1></div>

            <form action="" method="post">
                <input type="text" name="nome" placeholder="Nome de Usuario" autofocus /> 
                <input type="text" name="email" placeholder="E-mail" autofocus /> 
                
                <input type="password" name="senha" placeholder="Senha"  /> 
                <input type="password" name="senha" placeholder="Confirme sua senha"  /> 
                <select name="select" required>
                    <option value="" >Empresa</option>
                    <option value="valor1" >Telefônica</option>
                    <option value="valor2" >Ability</option>
                </select>
                <input type="submit" value="Enviar" /> 
            </form>
            <p>Desenvolvido por equipe X</p>


        </div>




    </section>



    
</body>
</html>